*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Serif', serif;
    background-color: black;
    justify-content: center;
    
}
#nav{
    width: 800px;
    height: 50px;
    background-image: url(imagenes/universo_body.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 100px 10px 100px;
}
.enlace1{
    margin-top: 15px;
}

.enlace1 a{
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px ;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.enlace1 a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    
}
.enlace2{
    margin-top: 15px;
}

.enlace2 a{
    background-color:rgb(185, 10, 4);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px ;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.enlace2 a:hover{
    color: rgb(185, 10, 4);
    background-color: white;
    border: 2px solid rgb(185, 10, 4);
    border-radius: 4px;
    
}
.enlace3{
    margin-top: 15px;
}

.enlace3 a{
    background-color:rgba(0, 201, 30, 0.651);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px ;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.enlace3 a:hover{
    color: rgba(0, 201, 30, 0.651);
    background-color: white;
    border: 2px solid rgba(0, 201, 30, 0.651);
    border-radius: 4px;
    
}
.enlace4{
    margin-top: 15px;
}

.enlace4 a{
    background-color:rgb(9, 153, 189);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px ;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.enlace4 a:hover{
    color: rgb(9, 153, 189);
    background-color: white;
    border: 2px solid rgb(9, 153, 189);
    border-radius: 4px;
    
}

.container{
    width: 800px;
    margin: 10px 100px 10px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#header{
    background-color:black;
    height: 50px;
    text-align: center;
    color:white;
}
#seccion{
    background-image: url(imagenes/fondo_blue.jpg);
    height: 500px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;

}
.presentacion{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nombre{
    background-image: url(imagenes/universo_body.jpg);
    width: 400px;
    height: 50px;
    text-align: center;
    color: white;
}
.descripcion{
    color: white;
    width: 350px;
    height: 250px;
    overflow: hidden;
    margin: 20px;
    margin-top: 50px;
    text-align: center;
}
.presentacion p{
    background-color: rgba(34, 1, 97, 0.363);
    width: 250px;
    font-size: 20px;
}

button a{
    
    text-decoration: none;
    position: relative;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 400ms ease;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
button a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: 100;

}
img{
    width: 300px;
    height: 500px;
    
}

#article{
    background-image: url(imagenes/fondo_digitalred.jpg);
    width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item_padre{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.item{
    background-image: url(imagenes/universo_body.jpg);
    color: white;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 450px;
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(243, 219, 84);
    cursor: default;
    transition: all 400ms ease;
}
.item:hover{
    box-shadow: 5px 5px 20px rgb(247, 210, 3);
    transform: translateY(-3%);
}
.uno{
    width: 190px;
    height: 50px;
    margin-top: 30px;
    
}
.dos{
    margin-top: 40px;
    width: 190px;
    height: 520px;
   
}

#article>button{
    height: 40px;

}
#aside{
    background-image: url(imagenes/fondo_green.jpg);
    width: 800px;
    height: 490px;
    margin-bottom: 5px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.columna button{
    width: 40px;
    height: 30px;
    margin:10px 50px 10px 60px ;
}

iframe{
width: 600PX;
margin: 40px 50px 40px 60px;
justify-content: center;
}


#footer{
    background-color:black;
    height: 130px;
    padding-top: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.ruta{
  
    width: 110px;
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.geo a {
    font-size:70px ;
    color: rgb(175, 0, 0);
    box-shadow: 0px 1px 10px rgb(243, 127, 127);
    cursor: default;
    transition: all 200ms ease;
}
.geo a:hover{
    font-size:75px ;
    box-shadow: 5px 5px 20px rgb(175,0,0);
    transform: translateY(-3%);
}
.wsp a {
    font-size:70px ;
    color: green;
    box-shadow: 0px 1px 10px rgb(150, 255, 150);
    cursor: default;
    transition: all 200ms ease;

}
.wsp a:hover{
    font-size:75px ;
    box-shadow: 5px 5px 20px green;
    transform: translateY(-3%);
}
.linkedin a {
    font-size:70px ;
    color: rgb(33, 166, 243);
    box-shadow: 0px 1px 10px rgb(143, 211, 250);
    cursor: default;
    transition: all 200ms ease;
}
.linkedin a:hover{
    font-size:75px ;
    box-shadow: 5px 5px 20px rgb(33, 166, 243);
    transform: translateY(-3%);
}
.mail a {
    font-size:70px ;
    color: rgb(175, 0, 0);
    box-shadow: 0px 1px 10px rgb(243, 127, 127);
    cursor: default;
    transition: all 200ms ease;
}
.mail a:hover{
    font-size:75px ;
    box-shadow: 5px 5px 20px rgb(175,0,0);
    transform: translateY(-3%);
}
.face a {
    font-size:70px ;
    color: blue;
    box-shadow: 0px 1px 10px rgb(104, 104, 248);
    cursor: default;
    transition: all 200ms ease;
}
.face a:hover{
    font-size:75px ;
    box-shadow: 5px 5px 20px blue;
    transform: translateY(-3%);
}
@media (max-width:600px) {
    #nav{
        width: 400px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 10px 10px 10px 10px;
        gap: 30px;
        
    }
}
@media (max-width:600px){
    .enlace1 a{
        font-size: small;
        margin-left: 30px;
}
}
@media(max-width:600px){
    .enlace2 a{
        font-size: small;
}
}

@media(max-width:600px){
    .enlace3 a{
        font-size: small;
}
}

@media(max-width:600px){
    .enlace4 a{
        font-size: small;
} 
}

@media(max-width:600px){
    .container{
        width: 400px;
        margin: 5px 10px 30px 5px;
        display: flex;
        justify-content: flex-start;
    
    }
}

@media(max-width:600px){
    #header{
        background-color:red;
        width: 400px;
        margin: 10px 10px 10px 10px;
        justify-content: center;
        text-align: center;
        
    }
}
@media(max-width:600px){
    #seccion{
        width: 400px;
        height: 750px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }
}
@media(max-width:600px){
    img{
        border-radius: 50px 50px 50px 50px;
        width: 150px;
        height: 200px;
    }
}
@media(max-width:600px){
    .presentacion{
        width: 400px;
        height: 600px;
        display: flex;
        flex-direction: row;
    }
}

@media(max-width:600px){
    .nombre{
        width: 350px;
        margin: auto;
    }
}

@media(max-width:600px){
    .descripcion{
        width: 350px;
        height: 250px;
        margin-top: 5px;

    }
}

@media(max-width:600px){
    button a{
        align-items: center;
        margin-top: 5px;
     }
}
@media(max-width:600px){
    
    #article{
        width: 400px;
        height: 1450px;
        display: flex;
        flex-wrap: row;
        justify-content: center;
    }
}
@media(max-width:600px){
    .item_padre{
        width: 300px;
        margin:10px 40px 5px 40px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:600px){
    .item{
        width: 600px;
        height: 400px;
        margin: 10px 20px 10px 20px;
       
}
}
@media(max-width:600px){
    #aside{
        width: 400px;
        height: 440px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}
@media(max-width:600px){
    iframe{
        width: 350PX;
        }
}
@media(max-width:600px){
    .ruta{
        
        justify-content: space-around;
       
    }
}
@media(max-width:600px){
    .geo a {
        font-size:40px ;
       
    }
}
@media(max-width:600px){
    .wsp a {
        font-size:40px ; 
    }
}
@media(max-width:600px){
    .linkedin a {
        font-size:40px ; 
    }
}
@media(max-width:600px){
    .mail a {
        font-size:40px ; 
    }
}
@media(max-width:600px){
    .face a {
        font-size:40px ;
    }
}
